{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Join TACWA'
      }
   %}

{% if craft.app.request.param('status') == 'true' %}
<p>success</p>
{% endif %}
	
   
	<div class="form-flow  |  container">
		<div class="form-flow__wrapper">		
			
			{{ craft.freeform.form("joinTACWA").render }}
			 
		</div>
	</div>
	
{% js %}

function setSubscription() {
	var org = document.getElementById("form-input-organizationType").value;
	var subscription = '';
	if (org == 'collectionAndTreatmentSystems') {
		subscription = document.getElementById("form-input-collectionAndTreatmentSystems").value;
		document.getElementById('form-input-collectionSystemOnly').value = '';
		document.getElementById('form-input-affiliateSize').value = '';
	} else if (org == 'collectionSystemOnly') {
		subscription = document.getElementById("form-input-collectionSystemOnly").value;
		document.getElementById('form-input-collectionAndTreatmentSystems').value = '';
		document.getElementById('form-input-affiliateSize').value = '';
	} else if (org == 'affiliate') {
		subscription = document.getElementById("form-input-affiliateSize").value;
		document.getElementById('form-input-collectionAndTreatmentSystems').value = '';
		document.getElementById('form-input-collectionSystemOnly').value = '';
	}
	document.getElementById('form-input-subscriptionPlanID').value = subscription;
}

{% endjs %}

{% endblock %}