{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% if currentUser %}
	{% redirect '/account/profile' %}
{% endif %}

{% set creationId = [] %}
{% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
{% set numbers = '0123456789' %}

{% for i in 1..10 %}
    {% set randomCharacter = random(alpha ~ alpha|upper ~ numbers ~ '-_') %}
    {% set creationId = creationId|merge([randomCharacter]) %}
{% endfor %}
{% set creationId = creationId|join %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Join TACWA'
      }
   %}

{% if craft.app.request.param('status') == 'true' %}
<p>success</p>
{% endif %}
	

   
	
	
	<div class="form-flow  |  container" id="joinTacwaForm">

      <div class="form-flow__wrapper">
      
      	<div class="form-flow__detail" id="joinSidebar" style="display:none;">
      		<h3 class="heading --tiny  |  text-teal">Add Your Team!</h3>
	  		<p class="form-flow__detail__description">Invite your colleagues to sign into TACWA.org to register for events, manage their account, and more.</p>
	  		<a href="../account/members-invite" class="btn --primary --light">Invite Members</a>
	  	</div>
			

{# 			{% if craft.app.request.param('creationId') %} #}
			
			{{ craft.freeform.form("joinTACWA", {
			  labelClass: "form-label",
			  inputClass: "form-control",
			  overrideValues: {
			    creationId: creationId
			  }
			}).render }}
			
{#
			{% else %}
			
			{{ craft.freeform.form("ryanTest").render }}	
			
			{% endif %}
#}
			 
		</div>
	</div>

{% endblock %}

{% do view.registerJsFile('/assets/js/set-subscription.js') %}
{% js %}
if(currentPage > 1) {
{# 	alert(document.getElementById()) #}
	var x = document.getElementsByClassName('form-flow__wrapper');
	var i;
	for (i = 0; i < x.length; i++) {
	  x[i].classList.add("--reverse");
	} 
	document.getElementById('joinSidebar').style.display = "block";
}
{% endjs %}