{% import '_macros/global' as global %}

<div class="container pb-22 text-center">
    <div class="content-block --tight  |  mx-auto">
        {{ global.linkIt(block.button, 'btn --primary --dark') }}
    </div>
</div>