{% import '_macros/global' as global %}

{% set list = block.list %}
<div class="container">
    <div class="content-block --tight  |  mx-auto">            
        {% if block.header|length %}
        <h2>{{ block.header }}</h2>
        {% endif %}

        {% if list|length %}
        <ul class="two-column-list">
            {% for item in list %}
                <li>
                        {% if item.button|length %}
                                <a href="{{ item.button }}">{{ item.listItem }}</a>
                            {% else %}
                                {{ item.listItem }}
                        {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
