{#   About Us   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

   {#   Page Header   #}
   {% set headerImage = false %}
   {% if entry.fullwidthImage.one()|length %}
      {% set headerImage = entry.fullwidthImage.one().url %}
   {% endif %}
   {% include '_components/page-header'
      with {
         'type': 'center',
         'category': entry.pageLabel,
         'heading': entry.title,
         'image': headerImage
      }
   %}

   {% include '_components/content-blocks' with { blocks: entry.contentBlocks } %}
   
   </section>

{% endblock %}