{#   About Us   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/page-header'
      with {
         'type': 'center',
         'category': 'TACWA',
         'heading': entry.title,
         'image': '../assets/img/ocean.jpg'
      }
   %}


   {% include '_components/content-blocks' with { blocks: entry.contentBlocks } %}
   
   </section>

{% endblock %}