{#   Logged In - Org Info   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% requireLogin %}

{% block content %}



   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Your Events'
      }
   %}

   <div class="form-flow  |  container">

      

         {#   Form   #}
    {% set submissions = craft.freeform.submissions({
	    	form: 'eventRegistrationMember'
	    }) %}
	{% set events = [] %}
    {% for submission in submissions %}
	    {% if submission.user == currentUser.id %}
		    {% set events = events|merge([submission.eventId.value]) %}
	    {% endif %}
    {% endfor %}
    
    {% if not events %}
    
    
    <h3>You are not currently registered for any events.</h3>
    
    
    {% else %}
         
   
	{% set eventOptions = {
		id: events,
		order: "startDate DESC",
		limit: 6
	} %}
	
	{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}

   <section class="bg-gradient">
      {#   Event Index   #}
      {% include '_components/static/events--index'
	      with {
		     'pastevents': true,
		     'myevents': true 
	      } %}
   </section>
   
   
   {% endif %}
   
   
   </div>

{% endblock %}


{% do view.registerJsFile('/assets/js/static/form-validation.js') %}