{#   Logged In - Org Info   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}

{% requireLogin %}
{% if not currentUser.isInGroup('memberAdmin') %}
    {% redirect '/account/profile' %}
{% endif %}

{% set organization = craft.entries().id(currentUser.organizationId).one() %}
{% if not organization %}
    {% redirect '/account/profile' %}
{% endif %}


      	
{% set payments = null %}
{% set submissions = craft.freeform.submissions({
	form: 'joinTACWApage2'
}).all() %}

{% for submission in submissions if submission.creationId == organization.creationId %}
	{% set payments = craft.freeformPayments.payments(submission.id) %}
{% endfor %}

{# {% set customer = craft.changestripesubscription.getCustomerBySubscription(payments.resourceId) %} #}
 
{#  {% set planId = (organization.collectionAndTreatmentSystems) ? organization.collectionAndTreatmentSystems : (organization.collectionSystemOnly) ? organization.collectionSystemOnly : organization.affiliateSize %} #}
 {% set planId = (organization.organizationType == 'collectionAndTreatmentSystems') ? organization.collectionAndTreatmentSystems : (organization.organizationType == 'collectionSystemOnly') ? organization.collectionSystemOnly : organization.affiliateSize %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Organization Payment',
         'tabs': 'true',
         'activeTab': '3'
      }
   %}

   <div class="form-flow  |  container">
      
      <div class="form-flow__wrapper creditly-wrapper">
      	<div class="credit-card-wrapper">

         {#   Form   #}
         <form method="post" class="form-group --narrow" id="updateCreditCard" data-validate>
         	<input type="hidden" name="action" value="change-stripe-subscription/default/updatecard">
         	<input type="hidden" name="invites" id="invites" value="1">
         	<input type="hidden" name="orgId" value="{{ currentUser.organizationId }}">
         	{{ csrfInput() }}
           		<div class="field-group --full-width">
           			<label for="creditCardName" class="field-group__label">Name on card</label> 
           			<input type="text" name="creditCardName" id="creditCardName" class="name field-group__input --field ">
           		</div> 
           		<div class="field-group --full-width">
           			<label for="creditCardName" class="field-group__label">Credit Card Number</label> 
           			<input type="text" name="cardnumber" pattern="\d*" inputmode="numeric" autocomplete="cc-number" autocompletetype="cc-number" x-autocompletetype="cc-number" placeholder="1234 1234 1234 1234" class="name field-group__input --field credit-card-number">
           		</div> 
           		<div class="field-group --half-width">
           			<label for="creditCardName" class="field-group__label">Expiration Date</label> 
           			<input type="text" name="expirydate" placeholder="mm / yy" class="name field-group__input --field expiration-month-and-year">
           		</div> 
           		<div class="field-group --half-width">
           			<label for="creditCardName" class="field-group__label">CVC</label> 
           			<input type="text" name="creditcvc" inputmode="numeric" pattern="\d*" placeholder="123" class="name field-group__input --field security-code">
           		</div> 

            {#   Submit and Cancel   #}
            <div class="flex flex-wrap  |  mt-4">
               {#   Submit   #}
               {{ form.submit( 'mt-4 updateCard', 'Update Card') }}

            </div>
         </form>
         
        </div>
    	
      </div>
   </div>


{% endblock %}


{% do view.registerJsFile('/assets/js/static/form-validation.js') %}
{% do view.registerJsFile('/assets/js/creditly.js') %}
{% js %}
var form = document.getElementById('updateCreditCard');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});
var creditly = Creditly.initialize(
      '.creditly-wrapper .expiration-month-and-year',
      '.creditly-wrapper .credit-card-number',
      '.creditly-wrapper .security-code',
      '.creditly-wrapper .card-type');
{% endjs %}
	