{#   Login - Standard   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'left',
         'heading': 'Upcoming Events',
         'category': 'Events'
      }
   %}
   
	{% set eventOptions = {
		endsAfterOrAt: "now",
		orderBy: "startDate ASC",
		limit: 6
	} %}
	
	{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}

   {% if pageInfo.currentPage == 1 %}
   <section class="mb-20">
      <div class="container">
         {#   Featured Event   #}
         {% include '_components/static/events--featured' %}
      </div>
   </section>
   {% endif %}

   <section class="bg-gradient">
      {#   Event Index   #}
      {% include '_components/static/events--index'
	      with {
		     'pastevents': false,
		     'myevents': false 
	      } %}
   </section>

{% endblock %}