{#   Login - Standard   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'Events',
         'heading': 'Past Events'
      }
   %}
   
	{% set eventOptions = {
		endsBeforeOrAt: "now",
		orderBy: "startDate DESC",
		limit: 6
	} %}
	
	{% paginate craft.calendar.events(eventOptions) as pageInfo, events %}

   <section class="bg-gradient">
      {#   Event Index   #}
      {% include '_components/static/events--index'
	      with {
		     'pastevents': true,
		     'myevents': false 
	      } %}
   </section>

{% endblock %}