{% import '/_macros/styleguide' as guide %}

{% extends "_layouts/_styleguide" %}
{% block content %}


    <h2 class="text-3xl mb-3">Typgography</h2>
    <p>This is a description of this content</p>

{% set code %}
p { color: red }{% endset %}

    {{ guide.snippet( code, 'css' ) }}
    

{% endblock %}