[v-cloak] {
  display: none;
}
:root {
  // Going where Tailwind cannot reach
  --menu-sm-offset: 4.5rem;
}


@tailwind preflight;
@tailwind components;
@tailwind utilities;

// // Base
// @import "base/fonts";
@import "base/typography";
@import "base/transition";
@import "base/grid";
// @import "base/space";
@import "base/link";
@import "base/button";
// @import "base/button--toggle";
@import "base/background";
// @import "base/align";
// @import "base/image";
// @import "base/blockquote";
// @import "base/icon";
// @import "base/video";
// @import "base/ornament";
// @import "base/pattern";
// @import "base/position";
// @import "base/overflow";
// @import "base/modal";
// @import "base/range";
// @import "base/checkbox-radio";
// @import "base/toggle-text";

// Headers
@import "components/site-header";
@import "components/site-menu";
@import "components/site-user-menu";
@import "components/page-header";

// Banners
@import "components/banners";

// Content Blocks
@import "components/content-block--icon";

// Modals
@import "components/modals";

// Articles
@import "components/article--index";
@import "components/article--detail";

// Lists
@import "components/menu-list";
@import "components/list--media";

// Forms
@import "components/form";
@import "components/form--search";

// Misc
@import "components/pagination";

@import "components/events--index";
@import "components/events--featured";
@import "components/events--event-date";
@import "components/events--upcoming";

@import "components/event";
@import "components/event--detail";

@import "components/site-footer";

// .if-not-in-body-removed-by-purge {
//   @apply text-green;
// }




.element-invisible {
	@apply absolute h-px overflow-hidden w-px;
	clip: rect(1px, 1px, 1px, 1px)
}