{#   Join TACWA - Organization Information   #}

{% extends "_layouts/_base" %}
{% import '_macros/global' as global %}
{% import '_macros/forms' as form %}


{% block content %}

   {#   Page Header   #}
   {% include '_components/static/page-header'
      with {
         'type': 'border',
         'heading': 'Join TACWA'
      }
   %}
   
	<div class="form-flow  |  container">
		{% if craft.app.request.param('status') == 'true' %}
			<h3>Thanks for signing up for an account with TACWA!</h3>
		{% endif %}
		
		<div class="form-flow__wrapper">		
			{{ craft.freeform.form("accountRegistration").render }}			 
		</div>
	</div>

{% endblock %}