{#   Form Flow - Detail  #}

<div class="form-flow__detail">
   <h3 class="heading --tiny  |  text-teal">Your Order</h3>
   <p class="form-flow__detail__description">{{ description }}</p>
   <p class="form-flow__detail__total">Total: {{ total }}</p>
</div>