{#   Site Header   #}

{% import '_macros/global' as global %}

<div class="site-header">
   <div class="site-header__container  |  container">
      {#   Logo   #}
      <a class="site-header__logo" href="/">
         <h1 class="element-invisible">Texas Association of Clean Water Agencies</h1>
      </a>

      {#   Action   #}
      <div class="site-header__action">
         {% if loggedIn is defined %}
            {#   User - Logged In   #}
            {% include '_components/static/site-user-menu' %}
         {% else %}
            {#   User - Login   #}
            {{ global.btn('/static/forms/login--standard', 'account__login-btn  |  btn --login', 'Login') }}
         {% endif %}


         {#   Nav   #}
         <button class="btn --site-menu  |  js--site-menu__open-btn">
            Navigation {{ global.utilityIcon('hamburger') }}
         </button>
      </div>

      {#   Menu   #}
      {% include '_components/static/site-menu' %}
   </div>
</div>