{#   Site User Menu   #}

{% import '_macros/global' as global %}

{% set
   siteUserMenu = {
      menu: [
         {
            name: "Organization Settings",
            url: "/"
         },
         {
            name: "Manage Members",
            url: "/"
         },
         {
            name: "Your Profile",
            url: "/"
         },
         {
            name: "Your Events",
            url: "/"
         },
         {
            name: "Log Out",
            url: "/logout"
         }
      ]
   }
%}

<div class="site-user-menu">
   <button class="btn --site-user-menu  |  js--site-user-menu__btn">
      <span>Your Account</span>
      {{ global.utilityIcon('user', 'h-4 w-4') }}
      {{ global.utilityIcon('chevron', 'h-3 w-2  |  ml-3  |  rotate-90deg  |  text-grey') }}
   </button>

   <div class="site-user-menu__list_wrapper  |  js--site-user-menu">
      <ul class="site-user-menu__list">
         {% for item in siteUserMenu.menu %}
            <li class="site-user-menu__list__item">
               <a href="{{ item.url }}">{{ item.name }}</a>
            </li>
         {% endfor %}
      </ul>
   </div>
</div>