{#   Site Header   #}

{% import '_macros/global' as global %}

<div class="site-header">
   <div class="site-header__container  |  container">
      {#   Logo   #}
      <a class="site-header__logo" href="/">
         <h1 class="element-invisible">Texas Association of Clean Water Agencies</h1>

         <img src="assets/img/tacwa_logo.png">
      </a>

      {#   Action   #}
      <div class="site-header__action">
         {#   User Login   #}
         <!--{{ global.btn('', 'account__login-btn  |  btn --primary --light', 'Login') }}-->

         {#   User Logged In   #}
         {% include '_components/static/site-user-menu' %}


         {#   Nav   #}
         <button class="site-menu__open-btn  |  btn --primary --dark --nav">
            Navigation {{ global.utilityIcon('hamburger', 'h-3 w-5 sm:h-4 sm:w-6  |  ml-3 sm:ml-4') }}
         </button>
      </div>

      {#   Menu   #}
      {% include '_components/static/site-menu' %}
   </div>
</div>