//
// Site Header
//

.site-header {
   .site-header__container {
      @apply flex h-20 items-center justify-between relative;

      @screen sm {
         @apply h-24
      }

      @screen md {
         @apply h-30 items-end
      }

      // Logo
      .site-header__logo {
         /*
         @apply no-underline text-center w-full;
         @media screen and (max-width: 35.9375rem) {
            &:after {
               @apply font-bold text-24 text-blue;
               content: "TACWA";
            }
         }
*/

         // If centered
         /*@apply absolute pin-l pin-r mx-auto z-10;*/
         height: 20px;
         width: 96px;

         background-image: url('../img/tacwa-logo__small.png');
         background-repeat: no-repeat;
         background-size: 100%;


         img {
         height: 20px;
         width: 96px;
      }

         /*
         @screen sm {
            @apply h-13 w-42;

            img {
               @apply h-13 w-42
            }
         }
         */

         @screen sm {
            @apply h-13 ml-0 static w-42;
            background-image: url('../img/tacwa-logo.png');
            background-repeat: no-repeat;
            background-size: 100%;

            img {
               @apply h-13 w-42
            }
         }
         @screen md {
            @apply h-16 w-52;

            img {
               @apply h-16 w-52
            }
         }
      }

      // Action
      .site-header__action {
         // If left/right
         /*
         @media screen and (max-width: 35.9375rem) {
            @apply absolute justify-between pin px-4
         }
         */

         @apply
            flex items-center
            ml-auto;

         @screen sm {
            .btn.--site-menu {
               @apply ml-3
            }
         }

         @screen md {
            @apply pb-4;

            .btn.--site-menu {
               @apply ml-4
            }
         }
      }
   }
}