// Prevent Outlines
* {
  outline: none;
}


// Base
.btn {
   @apply timing-1 duration-1 property-all;

   // Primary
   &.--primary {
      @apply border font-medium h-12 no-underline px-6 rounded text-center;
      line-height: 2.875rem;

      // Dark
      &.--dark {
         @apply bg-blue border-blue text-white;

         &:hover {
            @apply bg-blue-dark
         }
      }

      // Light
      &.--light {
         @apply bg-white border-grey-lighter text-grey-dark;

         &:hover {
            @apply bg-grey-lightest border-grey-lightest
         }
      }

      // Outline
      &.--outline {
         @apply bg-transparent border-white text-white;

         &:hover {
            @apply bg-white text-blue
         }
      }

      // Nav
      &.--nav {
         @apply h-10 inline-flex items-center px-4 text-14;
         line-height: 2.375rem;

         @screen sm {
            @apply h-12 px-5 text-16;
            line-height: 2.875rem;
         }
      }
   }

   // Secondary
   &.--secondary {
      @apply border font-medium h-10 min-w-40 no-underline px-6 rounded text-center;
      line-height: 2.375rem;

      &.--outline {
         @apply border-white text-white;

         &:hover {
            @apply bg-white text-blue
         }
      }
   }
}
/*
.btn {
  @apply link
    inline-block
    border-2 border-green
    text-green text-sm text-center
    font-sans
    font-medium
    px-6 py-5;

  // Hover
  &:hover {
    @apply border-green bg-green text-white;
  }

  // Light
  &.-light {
    @apply border-green-light text-green-light;

    &:hover {
      @apply border-white bg-white text-green-darkest;
    }
  }

  // Solid
  &.-solid {
    @apply bg-green border-green text-white;

    &:hover {
      @apply bg-green-darkest border-green-darkest text-white;
    }
  }

  // Small
  &.-small {
    @apply py-3;
  }

  // Add
  &.-add {
    @apply relative pr-10;
    &:after {
      @apply absolute pin-r align-t
      text-xl font-normal;
      content: "\002B";
      margin-right: 0.875rem;
    }
  }

  // Dark
  &.-dark {
    @apply border-green-darkest text-green-darkest;

    &.-small {
      @apply border;
    }

    &:hover {
      @apply border-green-darkest bg-green-darkest text-white;
    }
  }

  // Gallery
  &--gallery {
    @apply flex justify-start items-center w-full cursor-pointer;

    .link {
      @apply pl-10 mt-6;
    }
    &:hover {
      .link {
        @apply text-green-darkest;
        svg {
          transform: translate(0.5rem, 0);
        }
      }
    }
  }
}

// -Modifiers
.btn,
[class^="btn--"] {
  &.-wide {
    @apply px-16;
  }

  &.-full {
    @apply block
            w-full
            text-center;
  }
}
*/