// Prevent Outlines
* {
  outline: none;
}


// Base
.btn {
   @apply
      font-medium no-underline
      timing-1 duration-1 property-all
      cursor-pointer;

   // Primary
   &.--primary {
      @apply border h-12 no-underline px-6 rounded text-center;
      line-height: 2.875rem;

      // Dark
      &.--dark {
         @apply bg-blue border-blue text-white;

         &:hover {
            @apply bg-blue-dark border-blue-dark
         }
      }

      // Light
      &.--light {
         @apply bg-white border-grey-lighter text-grey-dark;

         &:hover {
            @apply bg-grey-lightest border-grey-lightest
         }
      }

      // Outline
      &.--outline {
         @apply bg-transparent border-white text-white;

         &:hover {
            @apply bg-white text-blue
         }
      }

      // Wide
      &.--wide {
         @apply w-full
      }

      &.--small {
         @apply min-w-40
      }
      
      &.--large {
         @apply min-w-xxs
      }
   }

   // Secondary
   &.--secondary {
      @apply border h-10 min-w-40 no-underline px-6 rounded text-center;
      line-height: 2.375rem;

      &.--outline {
         @apply border-white text-white;

         &:hover {
            @apply bg-white text-blue
         }
      }
   }

   // Site Menu
   &.--site-menu {
      // If left/right
      /*
      @apply h-10 inline-flex items-center text-14 text-grey-dark;
      */
      @apply
         inline-flex items-center
         text-14 text-white
         bg-blue border border-blue rounded
         px-4;
      line-height: 2.375rem;

      svg {
         @apply h-3 ml-3 w-5
      }

      &:hover {
         @apply bg-blue-dark
      }

      @screen sm {
         svg {
            @apply h-4 ml-4 w-6
         }
      }

      @screen md {
         @apply h-12 px-5 text-16;
         line-height: 2.875rem;
      }
   }

   // Site Menu - Close
   &.--site-menu__close {
      @apply flex items-center text-14 text-white;

      svg {
         @apply h-4 ml-3 w-4;

         @screen sm {
            @apply h-5 ml-4 w-5
         }
      }

      @media (hover: hover) {
         &:hover {
            @apply text-teal-light
         }
      }

      @screen md {
         @apply text-16
      }
   }

   // Site User Login
   &.--login {
      @apply px-5 text-14 text-grey-dark;
      line-height: 2.375rem;

      svg {
         @apply h-3 ml-3 w-5
      }

      &:hover {
         @apply text-grey
      }

      @screen sm {
         @apply bg-white border border-grey-lighter px-4 rounded;

         &:hover {
            @apply bg-grey-lightest border-grey-lighter text-grey-dark
         }
      }

      @screen md {
         @apply h-12 px-5 text-16;
         line-height: 2.875rem;
      }
   }

   // Site User Menu
   &.--site-user-menu {
      @apply
         text-grey-dark
         inline-flex items-center;

      @screen sm {
         @apply pl-5
      }

      span {
         @apply hidden;

         @screen md {
            @apply inline
         }
      }

      @screen md {
         > svg:nth-child(2) {
            @apply hidden
         }
      }
      @media (hover: hover) {
         &:hover {
            @apply text-grey;
         }
      }

      &.--is-active {
         @apply text-grey
      }
   }

   // Calendar
   &.--calendar {
      @apply bg-white border border-grey-lighter flex h-12 items-center px-4 rounded text-grey;

      &:hover {
         @apply text-grey-light
      }
   }
}
/*
.btn {
  @apply link
    inline-block
    border-2 border-green
    text-green text-sm text-center
    font-sans
    font-medium
    px-6 py-5;

  // Hover
  &:hover {
    @apply border-green bg-green text-white;
  }

  // Light
  &.-light {
    @apply border-green-light text-green-light;

    &:hover {
      @apply border-white bg-white text-green-darkest;
    }
  }

  // Solid
  &.-solid {
    @apply bg-green border-green text-white;

    &:hover {
      @apply bg-green-darkest border-green-darkest text-white;
    }
  }

  // Small
  &.-small {
    @apply py-3;
  }

  // Add
  &.-add {
    @apply relative pr-10;
    &:after {
      @apply absolute pin-r align-t
      text-xl font-normal;
      content: "\002B";
      margin-right: 0.875rem;
    }
  }

  // Dark
  &.-dark {
    @apply border-green-darkest text-green-darkest;

    &.-small {
      @apply border;
    }

    &:hover {
      @apply border-green-darkest bg-green-darkest text-white;
    }
  }

  // Gallery
  &--gallery {
    @apply flex justify-start items-center w-full cursor-pointer;

    .link {
      @apply pl-10 mt-6;
    }
    &:hover {
      .link {
        @apply text-green-darkest;
        svg {
          transform: translate(0.5rem, 0);
        }
      }
    }
  }
}

// -Modifiers
.btn,
[class^="btn--"] {
  &.-wide {
    @apply px-16;
  }

  &.-full {
    @apply block
            w-full
            text-center;
  }
}
*/