{%- minify -%} {# {% cache for 1 week%}{% endcache %} #} {# Sections, Requests
#} {# {% set work = craft.entries().section('caseStudies').all() %} #} {% set
firstSegment = craft.app.request.segment(1) %} {% set lastSegment =
craft.app.request.segments|last %} {# Base Layout #}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
        />
        <meta name="referrer" content="origin-when-cross-origin" />

         <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
        {% do view.registerCssFile('/assets/css/app.css') %} {# Favicons #} {%
        include '_components/site-favicons' %}
    </head>

    <body class="flex">
        <div class="site-container  |  min-h-screen flex flex-col w-full">
            {% include '_components/static/site-header' %}

            <main class="flex-grow">
                {% block content %}{% endblock %}
            </main>

            {% include '_components/static/site-footer' %}
        </div>
    </body>

    {% include '_components/javascript' %}
    {% do view.registerJsFile( mix('/js/app.js') ) %}
</html>
{%- endminify -%}
