{%- minify -%}
{# {% cache for 1 week%}{% endcache %} #}
{# Sections, Requests #}
{# {% set work = craft.entries().section('caseStudies').all() %} #}
{% set firstSegment = craft.app.request.segment(1) %}
{% set lastSegment = craft.app.request.segments|last %}

{# Menu #}
{% set content = {
        menu: [
            {
                name: "Home",
                url: "/"
            },
            {
                name: "Events Index",
                url: "/static/events--index"
            },
            {
                name: "Event Detail",
                url: "/static/events--detail"
            },
            {
                name: "Event Detail (past)",
                url: "/static/forms/events--detail--past-event"
            },
            {
                name: "Event Reg. - Contact Guest",
                url: "/static/forms/event-registration--contact--guest"
            },
            {
                name: "Event Reg. - Contact Member",
                url: "/static/forms/event-registration--contact--member"
            },
            {
                name: "Event Reg. - Login Checkout",
                url: "/static/forms/event-registration--login--checkout"
            },
            {
                name: "Event Reg. Payment Guest",
                url: "/static/forms/event-registration--payment--guest"
            },
            {
                name: "Event Reg. Payment Member",
                url: "/static/forms/event-registration--payment--member"
            },
            {
                name: "Join 1",
                url: "/static/forms/join--1"
            },
            {
                name: "Join 2",
                url: "/static/forms/join--2"
            },
            {
                name: "Join 3",
                url: "/static/forms/join--3"
            },
            {
                name: "Logged In - Manage Members - Invite",
                url: "/static/forms/logged-in--manage-members--invite"
            },
            {
                name: "Logged In - Manage Members",
                url: "/static/forms/logged-in--manage-members"
            },
            {
                name: "Logged In - Org Info",
                url: "/static/forms/logged-in--org-info"
            },
            {
                name: "Logged In - Org Membership",
                url: "/static/forms/logged-in--org-membership"
            },
            {
                name: "Login - Standard",
                url: "/static/forms/login--standard"
            }
        ]
    } 
%}


{# Base Layout #}
<!DOCTYPE html> 
<html lang="en-US">
    <head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" /> 

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />
        
        {% do view.registerCssFile('/assets/css/styleguide.css') %}
        {% do view.registerCssFile('/assets/css/app.css') %}

        {# Favicons #}
        {% include '_components/site-favicons' %}

    </head> 
    <body>
        <div class="site-container" id="app">

            <main class="site-main">

                {# Header #}
                <div class="p-10 container gutter border-b-8 border-grey-lighter">
                    <h1 class="styleguide__content | font-sans font-medium">
                        <a href="/" class="no-underline | text-grey-darkest | hover:text-black"><span class="text-3xl">{{siteName}}</span> <span class="text-xl block">Styleguide</span></a>
                    </h1>
                </div>

                {# Main #}
                <div class="styleguide | container gutter">
                    <div class="md:flex flex-wrap">
                        <aside
                        class="styleguide-menu styleguide__content | md:w-1/4 pt-10 | md:pb-0 pb-4 | md:pl-10 | md:border-r md:border-b-0 border-b | border-grey-lighter"
                        >
                        <h3 class="header-md mb-3 text-grey-darkest">Layouts</h3>
                            <ul class="menu-list">
                                {% for item in content.menu %}
                                    <li class="block w-full">
                                        <a href="{{ item.url }}" class="text-grey-darker hover:text-black">{{ item.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <main class="styleguide-main | md:w-3/4 p-10">


                            {# Content #}
                            {% block content %}{% endblock %}

                        </main>
                    </div>
                </div>

                {# Footer #}
                <div class="py-12 container gutter"></div>
                
            </main>

        </div>

    </body>

    {# {% do view.registerJsFile('/assets/js/app.js') %} #}
    {% do view.registerJsFile('/assets/js/styleguide.js') %}
	
</html>
{%- endminify -%}
