{% import '_macros/global' as global %}
<div class="signup-form">
    <form action="">
        <input type="text" class="email" placeholder="Email Digest Sign Up" />
        <button class="submit">
            {{ global.utilityIcon('arrow-right', 'icon') }}
        </button>
    </form>
</div>
