{% set menu = craft.categories.group('mainMenu')%}
<ul class="menu-list">
   {% for category in menu.all() %}
                
         {# With Dropdown #}
         {% if category.level == 1 %}
            {#   Menu Item   #}
            <li class="menu-list__item |"><a href="{{ category.url }}" class="menu-bar__link">{{ category.title }}</a></li>
         {% endif %}
         
   {% endfor %} 

</ul>
